# Virtual Environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env
.env.*
!.env.example

# Secrets
config.json
credentials.json
service_account.json
secrets.json
api_keys.py
keys.py

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Archives
*.zip

weights/clip/
safetynet/weights/clip/

safetynet/world.yaml
safetynet/world_diff.yaml
